.App {
  text-align: center;
  background-color: #222;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}
.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: #333;
  color: #fff;
  height: 100vh;
  width: 15vw;
  /* -webkit-app-region: drag; */
}
.navDiv{
  cursor: pointer;
  width: 15vw;
}
.navDiv:hover{
  background-color: #444;

}
.newsBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 85vw;
  height: 100vh;
  overflow: scroll;
  color: #fff;
}
.homeBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background-color: aqua; */
  width: 85vw;
  height: 100vh;
}
.weatherDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  width: 40vw;
  height: 80vh;
  margin-top: 2rem;
  border-radius: 25px;
}
.weatherBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  /* background-color: antiquewhite; */
  height: 90vh;
  width: 50vw;
}
.location{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
  width: 40vw;
  height: 10vh;
  margin-bottom: 2rem;
}
.weatherMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height: 39vh;
  width: 40vw;
}
.newsBody::-webkit-scrollbar {
  display: none;
}
.condition{
  /* display: flex; */
  width: 20vw;
  height: 30vh;
  border-radius: 25px;
  background-color: #444;
}
.condition img{
  height: 15vh;
  width: auto;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  width: 40vw;
  color: #fff;
}
.location h1{
  padding: none;
  margin: none;
}

.categoryHeader{
  position: fixed;
  background-color: aqua;
  margin: none;
  padding: none;
  width: 85vw;
  height: 10vh;
}
.article{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 5px;
  border-radius: 25px;
  width: 75vw;
  min-height: 20vh;
  background-color: #444;
  margin-bottom: 1rem;
}
.headlineImg{
  max-height: 70px;
  width: auto;
}